<div class="switcher">
	<div class="switcher-container">
		<form action="index.php" id="try-layout">
		<div class="sub">
			<h4>Layout</h4>
			<select class="span2" name="l" id="input-layout">
				{loop="layouts"}
					<option value="{$value}">{$value}</option>
				{/loop}
			</select>
		</div>
		<div class="sub">
			<h4>Header</h4>
			<select class="span2" name="h" id="input-header">
				{loop="headers"}
					<option value="{$value}">{$value}</option>
				{/loop}
			</select>
		</div>
		<div class="sub">
			<h4>Content</h4>
			<select class="span2" name="c" id="input-content">
				{loop="contents"}
					<option value="{$value}">{$value}</option>
				{/loop}
			</select>
		</div>
		<div class="sub">
			<h4>Footer</h4>
			<select class="span2" name="f" id="input-footer">
				{loop="footers"}
					<option value="{$value}">{$value}</option>
				{/loop}
			</select>
		</div><br>
		<input type="submit" id="try" class="btn" value="Try It Out" />
		</form>
	</div>
	<div class="toggle" id="opened" title="Close Switcher">&laquo;</div>
</div>

<style>
	.switcher {
		display: block;
		position: absolute;
		left: 0;
		top: 100px;
	}
	.switcher-container {
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 0 8px 8px 0;
		padding: 5px 20px;
		min-width: 150px;
		-webkit-box-shadow: 4px 4px 3px 0px rgba(20,20,20,.5);
		box-shadow: 4px 4px 3px 0px rgba(20,20,20,.5);
	}
	.sub {
		border-bottom: 1px solid #eee;
	}
	.toggle {
		position: absolute;
		right: -33px;
		top: 20px;
		background: #fff;
		padding: 6px 10px;
		border: 1px solid #ddd;
		border-left: 0;
		cursor: pointer;
		font-size: 24px;
		color: #555;
		-webkit-box-shadow: 4px 4px 3px 0px rgba(20,20,20,.5);
		box-shadow: 4px 4px 3px 0px rgba(20,20,20,.5);
	}
</style>
<script>
	// init
	if($.cookie('is_open') == 'opened') open_switcher(); else close_switcher();
	if($.cookie('layout')) $('#input-layout option[value={$layout}]').prop('selected', true);
	if($.cookie('header')) $('#input-header option[value={$header}]').prop('selected', true);
	if($.cookie('content')) $('#input-content option[value={$content}]').prop('selected', true);
	if($.cookie('footer')) $('#input-footer option[value={$footer}]').prop('selected', true);
	// end init
	
	function close_switcher(){
		$('.switcher-container').hide();
		$('.toggle').attr('id', 'closed').html('&raquo;').attr('title', 'Open Switcher');
		$.cookie('is_open', 'closed');
	}
	function open_switcher(){
		$('.switcher-container').show();
		$('.toggle').attr('id', 'opened').html('&laquo;').attr('title', 'Close Switcher');
		$.cookie('is_open', 'opened');
	}

	$('.toggle').click(function(){
		$this = $(this);
		var id = $this.attr('id');
		if(id == 'opened'){
			close_switcher();
		} else {
			open_switcher();
		}
	});

</script>