<h3>3 Column Features</h3>
<div class="row">
  <div class="span4">
    <h4><i class="btn disabled icon-desktop"></i> Web Design</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, voluptatibus, officia, animi aliquam consequatur deserunt soluta eligendi quaerat incidunt culpa deleniti perferendis error ab veritatis sint voluptatem omnis veniam molestias.</p>
  </div>
  <div class="span4">
    <h4><i class="btn disabled icon-picture"></i> Graphic Design</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, repudiandae beatae aliquid culpa. Quasi, iure, nihil incidunt sed officia tenetur ipsa commodi inventore possimus! Totam, ullam suscipit provident ut consectetur.</p>
  </div>
  <div class="span4">
    <h4><i class="btn disabled icon-facetime-video"></i> Motion Graphic</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, non, impedit, exercitationem eaque eveniet aspernatur voluptate porro aperiam vero natus quae dignissimos iste ad repellendus molestiae similique magni odit tempora!</p>
  </div>
  <div class="span4">
    <h4><i class="btn disabled icon-desktop"></i> Web Design</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, voluptatibus, officia, animi aliquam consequatur deserunt soluta eligendi quaerat incidunt culpa deleniti perferendis error ab veritatis sint voluptatem omnis veniam molestias.</p>
  </div>
  <div class="span4">
    <h4><i class="btn disabled icon-picture"></i> Graphic Design</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, repudiandae beatae aliquid culpa. Quasi, iure, nihil incidunt sed officia tenetur ipsa commodi inventore possimus! Totam, ullam suscipit provident ut consectetur.</p>
  </div>
  <div class="span4">
    <h4><i class="btn disabled icon-facetime-video"></i> Motion Graphic</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, non, impedit, exercitationem eaque eveniet aspernatur voluptate porro aperiam vero natus quae dignissimos iste ad repellendus molestiae similique magni odit tempora!</p>
  </div>
</div>