{if condition="$title=='layoutr'"}{include="switcher"}{else}{include="shortcode-switcher"}{/if}

<!-- Shortcode style -->
{loop="$GLOBALS.scstyles"}
{if condition="$value == true"}<link href="{$base_url}{$theme_path}css/custom/shortcodes/{$key}.css" rel="stylesheet">{/if}
{/loop}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{$base_url}{$theme_path}js/bootstrap.min.js"></script>
<script src="{$base_url}{$theme_path}js/holder.js"></script>
<script src="{$base_url}{$theme_path}js/plugin/jquery.lwtCountdown-1.0.js"></script>
<script>
(function($){
	"use strict";
	
		$('#countdown_dashboard').countDown({
        	targetDate: {
          		'day': 		1,
          		'month': 	1,
          		'year': 	2014,
          		'hour': 	0,
          		'min': 		0,
          		'sec': 		0 
          	},
          	omitWeeks: true
          });

})(jQuery);
</script>