{if condition="$title=='layoutr'"}
	{include="switcher"}
{else}
	{include="shortcode-switcher"}
{/if}

<!-- Shortcode style -->
{loop="$GLOBALS.scstyles"}
{if condition="$value == true"}<link href="{$base_url}{$theme_path}css/custom/shortcodes/{$key}.css" rel="stylesheet">{/if}
{/loop}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{$base_url}{$theme_path}js/bootstrap.min.js"></script>
<script src="{$base_url}{$theme_path}js/holder.js"></script>