<meta charset="utf-8">
    <title>Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{$base_url}{$theme_path}/css/styles/{$style}.css" rel="stylesheet">
    {if condition="$style!=null"}
    <link href="{$base_url}{$theme_path}/css/custom/{$custom}.css" rel="stylesheet">
    {/if}
    {if condition="$not_responsive!=1"}
    <link href="{$base_url}{$theme_path}/css/bootstrap-responsive.css" rel="stylesheet">
    {/if}
    <link href="{$base_url}{$theme_path}/css/bootswatch.css" rel="stylesheet">
    <link href="{$base_url}{$theme_path}/css/font-awesome.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <script src="{$base_url}{$theme_path}/js/jquery.js"></script>
    <script src="{$base_url}{$theme_path}/js/jquery.cookie.js"></script>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">