<div class="row-fluid">
	<div class="span3">
		<ul class="nav nav-list">
			<li class="nav-header">Recent Articles</li>
			<li><a href="#">Lorem Ipsum Dolor Sit Amet</a></li>
			<li><a href="#">There is No More Than Love</a></li>
			<li><a href="#">Keep Moving Forward!</a></li>
		</ul>
	</div>
	<div class="span3">
		<ul class="nav nav-list">
			<li class="nav-header">About Us</li>
			<li><a href="#">navigation 1</a></li>
			<li><a href="#">navigation 2</a></li>
			<li><a href="#">Another Links</a></li>
			<li><a href="#">Yet Another Links</a></li>
		</ul>
	</div>
	<div class="span3">
		<ul class="nav nav-list">
			<li class="nav-header">Information</li>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">navigation 2</a></li>
			<li><a href="#">Another Links</a></li>
			<li><a href="#">Yet Another Links</a></li>
		</ul>
	</div>
	<div class="span3">
		<div class="media">
			<div class="media-body">
				<h4 class="media-heading">Layoutr</h4>
				<img class="media-object pull-left" data-src="holder.js/64x64">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ab quasi ullam dolorem ut quo nesciunt. Eaque aliquid aspernatur incidunt fugit quidem quibusdam delectus molestiae in cumque maxime porro reiciendis.
			</div>
		</div>
	</div>
</div>