<div class="switcher">
	<div class="switcher-container">
		<form action="index.php">
		<div class="sub">
			<h4>Layout</h4>
			<select name="l">
				<option value="layout1">Layout 1</option>
				<option value="layout1-fluid">Layout 1 Fluid</option>
			</select>
		</div>
		<div class="sub">
			<h4>Header</h4>
			<select name="h">
				<option value="header1">Header 1</option>
			</select>
		</div>
		<div class="sub">
			<h4>Content</h4>
			<select name="c">
				<option value="1col">1 Column</option>
			</select>
		</div>
		<div class="sub">
			<h4>Footer</h4>
			<select name="f">
				<option value="footer1">Footer 1</option>
			</select>
		</div><br>
		<input type="submit" class="btn" value="Try It Out" />
		</form>
	</div>
	<div class="toggle" id="opened" title="Close Switcher">&laquo;</div>
</div>

<style>
	.switcher {
		display: block;
		position: absolute;
		left: 0;
		top: 100px;
	}
	.switcher-container {
		background-color: white;
		border: 1px solid #ddd;
		border-radius: 0 8px 8px 0;
		padding: 5px 20px;
		min-width: 150px;
	}
	.sub {
		border-bottom: 1px solid #eee;
	}
	.toggle {
		position: absolute;
		right: -34px;
		top: 20px;
		background: #eee;
		padding: 6px 10px;
		border: 1px solid #ddd;
		cursor: pointer;
		font-size: 24px;
		color: #555;
	}
</style>
<script>
	// check if cookie is already opened
	if($.cookie('is_open') == 'opened') 
		open_switcher();
	else
		close_switcher();
	
	function close_switcher(){
		$('.switcher-container').hide();
		$('.toggle').attr('id', 'closed').html('&raquo;').attr('title', 'Open Switcher');
		$.cookie('is_open', 'closed');
	}
	function open_switcher(){
		$('.switcher-container').show();
		$('.toggle').attr('id', 'opened').html('&laquo;').attr('title', 'Close Switcher');
		$.cookie('is_open', 'opened');
	}


	$('.toggle').click(function(){
		$this = $(this);
		var id = $this.attr('id');
		if(id == 'opened'){
			close_switcher();
		} else {
			open_switcher();
		}
	});

</script>