<div class="container">
  <div class="row">

    <!-- main Content -->
    <div class="col-md-8">
      <h2>Heading</h2>
      <p class="thumbnail"><img src="{$base_url}{$theme_path}img/slide-02.jpg" alt=""></p>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eos molestiae libero labore molestias saepe sint incidunt delectus unde doloremque minus esse in magnam ullam atque. Aspernatur ut iste possimus!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque illum unde sapiente eligendi distinctio recusandae perspiciatis aut deleniti ab a quibusdam reiciendis obcaecati dolor doloremque rem nam dolorum iure blanditiis.</p>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea deserunt repellat dolor fuga magni voluptatibus dicta iure qui modi repudiandae eveniet et facilis distinctio veniam quibusdam natus in facere explicabo!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium unde dolor dolorem sunt excepturi fugit blanditiis eveniet doloremque ex perspiciatis aut autem minus ut natus nam repudiandae sint architecto dolorum.</p>
    </div>

    <!-- Rightbar -->
    <div class="col-md-4">
      <h3>Heading</h3>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

      <ul class="nav nav-list">
        <li class="nav-header">List header</li>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="nav-header">Another List header</li>
        <li class="active"><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>

  </div>
</div>